@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat-ExtraBold", sans-serif;
  color: #000;
}

p {
  font-family: "Montserrat-Bold", sans-serif;
  color: #000;
}

.button,
.text {
  font-family: "Montserrat-Regular", sans-serif;
  color: #000;
}
